.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#formAuthor, #formContent, #captchaChallenge {
    /*border: solid green 1px;*/
    height: 30px;
    padding: 10px;

    /* don't extend input area when padding
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: var(--light-bg-color);
    border: 0px;

    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
    color: var(--normal-text-color);
}

#formSubmit {
    width: 200px;
    border: 0px;
    background-color: var(--selected-text-color);

    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
}

#formReplyToButton {
    width: fit-content;
    border: 0px;
    background-color: var(--selected-text-color);

    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
}

#getComments {
    margin-top: 20px;
}

#formComment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /*border: solid white 1px;*/
    margin-top: 50px;

    max-width: 500px;
}
#captchaChallenge {
    width: 100%;
}
#formBottom {
    display: flex;
    align-content: stretch;
    gap: 10px;
}
#formAuthor {
    width: 100%;
}
#formContent {
    width: 100%;
    height: 100px;
}
#formStatus {
    marging-top: 40px;
    color: var(--selected-text-color);
}

#formReplyTo {
    display: flex;
    gap: 20px;
}

#commentsView {
}

#commentSelected {
    background-color: var(--light-bg-color);
    padding: 15px;
}

.childrenFolded {
    color: var(--selected-text-color);
}

.childrenColapsed {
    color: var(--light-text-color);
}

.childrenFolded::after, .childrenColapsed::after {
    color: var(--light-text-color);
    content: '•';
    margin-right: 5px;
    margin-left: 5px;
}

.commentFoldIndicator {
}

.commentFooter {
    display: flex;
    font-size: var(--font-size-small);
}
.commentReply {
    color: var(--light-text-color);
}

.commentAuthor {
    display: inline-block;
}
.commentReplyTo {
    font-size: var(--font-size-small);
    color: var(--dark-text-color);
    display: inline-block;
}

.commentContainer {
    margin-top: 30px;
    max-width: 500px;
}

/*
.repliesContainer {
    max-height: 700000px;
    transition: max-height 1s ease-in-out;
    overflow: visible;
}
*/

/* indent children */
.commentChild {
    margin-left: 30px;
    margin-right: -30px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    color: var(--light-text-color);
}
.commentContent {
    text-align: justify;
}

.highlight {
    /* highlight parent comment when clicked on the @user button */
    animation: mymove 3s 1 alternate;
    padding: 15px;
    margin: -15px;
}

@keyframes mymove {
    from {background-color: var(--light-bg-color);}
    to {background-color: var(--normal-bg-color);}
}

.colapse {
    display: none;
}
