:root {
    --title-text-color:    #ad6500;

    --light-text-color:    #DDDDDD;
    --normal-text-color:   #848484;
    --dark-text-color:     #595959;

    --link-text-color:     #009900;
    --selected-text-color: #ad6500;
    --unselected-text-color: #009900;

    --main-bg-color:       #181A1B;
    --light-bg-color:      #262626;

    --font-size-small:     13px;
    --font-size-normal:    15px;
    --font-size-large:     20px;
    --font-size-larger:    25px;
}


:bla {
    --title-text-color:    #F92672;

    --light-text-color:    #DDDDDD;
    --normal-text-color:   #848484;
    --dark-text-color:     #595959;

    --link-text-color:     #F92672;
    --selected-text-color: #F92672;
    --unselected-text-color: #F8F8F2;

    --main-bg-color:       #181A1B;
    --light-bg-color:      #262626;
}

html {
    background-color: var(--main-bg-color);
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

b, strong {
    color: var(--light-text-color); 
    font-weight: bold;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Fira Code', sans-serif;
    font-size: var(--font-size-normal);
    max-width: 700px;
    /*max-width: 960px;*/
    margin: auto;
    padding: 10px 20px 10px 20px;

    color: var(--normal-text-color);
}

h1 {
    margin: 35px 0px 5px 0px;
    font-size: var(--font-size-large);
    color: var(--light-text-color);
    text-transform: capitalize; 
}

h2,h3 {
    font-size: var(--font-size-normal);
    margin: 35px 0px 5px 0px;
    color: var(--light-text-color);
    text-transform: capitalize; 
}

img {
    max-width: 900px;
    max-height: 600px;
    display: block;
    margin: 20px auto 20px auto;
    border-radius: 5%;

}

/* Replace standard char for lists */
ul {
    margin 0;
    list-style-type: none;
    text-indent: -20px;
}
li::before {
    content: "> ";
    font-weight: bold;
}

p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
}

code {
    font-family: 'Inconsolata', monospace;
    font-size: var(--font-size-normal);
    overflow: auto;
    display: block;
    background-color: var(--light-bg-color);
    padding: 30px;
    border-radius: 5px;
}

/* REGULAR PAGE */
#page_content {
}

.page_last_edit {
    text-align: right;
}

#header {
    margin: 40px 0px 40px 0px;
    display: flex;
    align-items: flex-start;
}

.logo_text {
    color: var(--title-text-color);
    text-transform: uppercase;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 50px;
}
.logo {
    margin-right: 20px;
    position: relative;
    top: 4px;
    /*border: solid white 1px;*/
    /*font-size: 20px;
    font-weight: bold;
    */
}

.logo_separator {
    position: relative;
    top: 3px;
}

/* MENU */
#menu {
    /*border-left: 3px solid;
    padding-left: 20px;*/
    font-weight: bold;
    min-height: 50px;
}


.root_menu {
    font-size: var(--font-size-large);
    text-transform: uppercase;
}

.sub_menu {
    font-size: var(--font-size-normal);
    text-transform: capitalize;
    text-transform: uppercase;
}


.menu_divider {
    position: relative;
    bottom: 2px;
}

.submenu_item {
    color: var(--unselected-text-color);
}
.submenu_item::after {
    content: "▸";
    position: relative;
    bottom: 2px;
    left: 5px;
}

.submenu_item_selected {
    color: var(--selected-text-color);
}

.submenu_item_selected::after {
    content: "▾";
    position: relative;
    bottom: 2px;
    left: 5px;
}

.menu_item {
    color: var(--unselected-text-color);
}

/* add separator between menu items, not after last item */
.menu_item_separated:before {
    content: ':';
    position: relative;
    bottom: 2px;
    visibility: hidden;
}
.menu_item_separated:first-child::before {
    display: none;
}


.menu_item_selected { 
    color: var(--selected-text-color);
}



/* BLOG HEADER */
.blog_header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}
.blog_index {
    display: inline-block;
    float: right;
}
.blog_index_selected {
    color: var(--selected-text-color);
}
.blog_all_tags {
    display: inline-block;
}
.blog_list_link {
    margin-right: 15px;
    color: var(--normal-text-color);

}
.blog_tag {
    color: var(--normal-text-color);
}
.blog_tag_selected {
    color: var(--selected-text-color);
}


/* blog list view, the view with a short introduction */
.blog_list_section {
    margin: 20px 0px 20px 0px;
}
.blog_list_header {
    display: flex;
    justify-content: space-between;
}
.blog_list_title {
    text-transform: capitalize; 
    /*font-size: 18px;*/
}
.blog_list_title :before {
    content: '> ';
    position: relative;
    bottom: 1px;
}
.blog_list_date {
    text-transform: capitalize; 
    color: var(--dark-text-color);
}
.blog_list_last_edit {
    text-transform: capitalize; 
    color: var(--dark-text-color);
}
.blog_list_introduction {
    /*border: solid white;*/
    color: var(--normal-text-color);
    text-align: justify;
}
.blog_list_tags {
    color: var(--dark-text-color);
}
.blog_list_readmore {
    white-space: nowrap;
    color: var(--light-text-color);
}


/* BLOG POST */
.blog_post {
    margin: 15px 0px 80px 0px;
    border-radius: 5px;
    border-width: 1px;
}
.post_header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.post_title {
    color: var(--title-text-color);
    margin: 0px;
    font-size: var(--font-size-larger);
    text-transform: capitalize; 
}
.post_tags {
    color: var(--dark-text-color);
}
.post_date {
    color: var(--dark-text-color);
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize; 
}
.post_last_edit {
    /*border: solid white;*/
    color: var(--dark-text-color);
    text-transform: capitalize; 
}
.post_content {}



#footer {
    text-align: center;
    margin: 100px 0px 15px 0px;
}



/* SITEMAP */
.sitemap_section {
    margin: 10px 0px 10px 0px;
    padding: 1px 0px 20px 0px;
    border-radius: 5px;
}

.sitemap_header a:link {
}

.sitemap_page_item {
    text-transform: capitalize; 
}
.sitemap_menu_separator {
}

.sitemap_separator:before {
    content: ">";
}
.sitemap_item {
    display: flex;
    justify-content: space-between;
}

.sitemap_title {
    text-transform: capitalize; 
}

.sitemap_metadata {
    text-transform: capitalize; 
}
